html {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: hsl(0, 0%, 8%);
  height: 60%;
  border-radius: 10px;
  width: 25%;
  padding: 30px 30px;
}
.profile {
  text-align: center;
  .profile-pic {
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }
  h4 {
    color: hsl(0, 0%, 100%);
  }
  .location {
    color: hsl(75, 94%, 57%) !important;
    font-size: 14px;
  }
  p {
    color: white !important;
    font-size: 12px;
    font-weight: 600;
  }
}

.socialmedia {
  width: 100%;
  a {
    text-decoration: none;
    cursor: pointer;
  }
  .socialmediaselect {
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .socialmediaselect:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
    font-weight: 700;
  }
}


@media (max-width: 500px) {
  html {
    height: 100vh;
  }
  body {
    width: 85vw;
    height: 75vh;
  }
  .profile {
    h3 {
      margin-top: 20px;
    }
    p {
      font-size: 12px;
    }
  }
  .socialmediaselect {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media (max-width: 1000px) and (min-width: 501px) {
  html {
    height: 100vh;
  }
  body {
    width: 60vw;
    height: 80vh;
  }
  .profile {
    h3 {
      margin-top: 20px;
    }
    p {
      font-size: 14px;
    }
  }
}